.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
}

.left-section,
.right-section {
  background-color: lightpink;
}

.middle-section {
  background-color: lightblue;
  flex: 1;
  margin-left: 60px;
  margin-right: 30px;
  max-width: 500px;
}

.left-section {
  width: 150px;
}

.right-section {
  width: 200px;
}

.search-bar {
  display: block;
  margin-bottom: 10px;
}
