.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 7px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}