.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 42px;
}

.video-thumbnail {
  width: 100%;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 4px;
}

.channel-logo {
  width: 36px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-stat {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.timer {
  position: absolute;
  bottom: 11px;
  right: 4px;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 4px 4px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, Arial;
}