.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.video-thumbnail {
  width: 100%;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 5px;
}

.channel-logo {
  width: 40px;
  border-radius: 50%;
}

.thumbnail-row {
  margin-bottom: 10px;
}

.video-title {
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 10px;
}

.video-stat {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
