.a1,
.a2 {
  display: block;
  margin-bottom: 5px;
}

.b1 {
  display: inline-block;
  margin-right: 10px;
  width: 200px;
  vertical-align: middle;
}

.c1 {
  width: 200px;
  display: block;
  margin-left: 115px;
  margin-bottom: 10px;
}
.c2 {
  width: 400px;
  height: 30px;
  padding-left: 20px;
  border-radius: 30px;
  border-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.d1,
.d2 {
  padding-left: 10px;
  width: 110px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-right: 3px;
  margin-bottom: 15px;
}
.d3 {
  display: block;
  padding-left: 10px;
  width: 240px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.d4 {
  color: white;
  background-color: rgb(17, 129, 233);
  width: 253px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
}
.e1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin-bottom: 25px;
}
.e2,
.e3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  display: block;
  margin-bottom: 10px;
  background-color: rgb(243, 243, 243);
  border-style: none;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  font-size: medium;
}
.e4 {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  color: white;
  background-color: black;
  border-style: none;
  margin-right: 20px;
  font-size: small;
}
.e5 {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  color: black;
  background-color: rgb(224, 224, 224);
  border-style: none;
}