p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-bar {
    display: block;
}

.video-thumbnail {
  width: 300px;
  display: block;
}

.video-title {
    width: 300px;
    margin-bottom: 10px;
}

.video-author {
    margin-bottom: 5px;
}