p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-bar {
    display: block;
    margin-bottom: 10px;
}
.video-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 300px;
}
.video-thumbnail {
  width: 300px;
  display: block;
}

.video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 5px;
}
.channel-pic {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-info {
    display: inline-block;
    width: 200px;
}
.channel-logo{
    width: 40px;
    border-radius: 50%;
}
.thumbnail-row {
    margin-bottom: 10px;
}
.video-title {
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 10px;
}
.video-stat {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 5px;
}