p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.search-bar {
    display: block;
    margin-bottom: 10px;
}
.video-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.video-thumbnail {
  width: 300px;
  display: block;
}

.video-title {
    width: 300px;
    margin-bottom: 10px;
}

.video-author {
    margin-bottom: 5px;
}