.header {
  display: flex;
  flex-direction: row;
  height: 57px;
  justify-content: space-between;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(222, 222, 222);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  margin-right: 30px;
  font-family: Roboto, Arial;
  max-width: 470px;
}

.search-bar {
  flex: 1;
  height: 37px;
  padding-left: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #ccc;
  font-size: 16px;
  width: 0;
  box-shadow: inset 0px 1px .05px rgba(0, 0, 0, 0.1);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 64px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(235, 235, 235);
}

.search-button,
.mic-button {
  position: relative;
}

.search-button .tooltips {
  position: absolute;
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
  padding: 8px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
}

.search-button:hover .tooltips {
  opacity: 1;
  transition: opacity 0.3s;
}

.search-icon {
  height: 24px;
}
.mic-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(247, 247, 247);
}

.mic-button:hover {
  background-color: rgb(235, 235, 235);
}

.mic-button .tooltips {
  position: absolute;
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
  padding: 8px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.mic-button:hover .tooltips {
  opacity: 1;
  transition: opacity 0.3s;
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  flex-shrink: 0;
  margin-right: 24px;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.my-profile {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .tooltips {
  position: absolute;
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
  padding: 8px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-family: Roboto, Arial;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.container:hover .tooltips {
  opacity: 1;
  transition: opacity 0.3s;
}

.notification-badge {
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 2px 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}