body {
    margin: 0;
    padding: 50px 260px 0px 245px;
    background-color: rgba(35,41,49,255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    vertical-align: bottom;
    margin-bottom: 60px;
}

.left-section {
    display: flex;
    align-items: center;
    font-size: 36px;
}

.right-section {
    display: flex;
    align-items: center;
    column-gap: 50px;
    font-size: 28px;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 220px;
}

.slogan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.slogan {
    color: #ff7474;
    line-height: 0px;
    font-size: 80px;
    font-style: italic;
}

.slogan2 {
    font-size: 32px;
    line-height: 0px;
}

.line {
    border-top: rgba(43,47,53,255) solid 3px;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.grid-icon, .list-icon {
    width: 32px;
    height: 32px;
}

.grid-icon {
    margin-right: 10px;
}

.navigate {
    color: rgba(144,144,144,255);
    font-size: 32px;
    line-height: 0px;
}