.link {
  color: rgb(0, 113, 133);
}
.link:hover {
  color: rgb(150, 97, 0);
}
.product_name {
  font-weight: bold;
  font-size: 24px;
  width: 280px;
}
.product_price {
  font-weight: bold;
  color: rgb(0, 118, 0);
  font-size: 16px;
}
.add_to_cart {
  border-style: none;
  background-color: rgb(255, 216, 20);
  border-radius: 15px;
  border-width: 200px;
  height: 30px;
  width: 100px;
}
.add_to_cart:hover {
  background-color: rgb(236, 200, 21);
}
.add_to_cart:active {
  opacity: 0.5;
}
.buy_now {
  border-style: none;
  background-color: rgb(255, 164, 28);
  border-radius: 15px;
  border-width: 200px;
  height: 30px;
  width: 100px;
}
.buy_now:hover {
  background-color: rgb(214, 128, 22);
}
.buy_now:active {
  opacity: 0.5;
}
