p {
  margin-top: 0;
  margin-bottom: 0;
}
div {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tahoma-font {
  font-family: Tahoma;
  font-weight: bold;
  font-size: larger;
}
.deal {
  font-family: arial;
  font-weight: bold;
  font-size: larger;
}
.sale {
  font-family: arial;
  font-style: italic;
  font-weight: 400;
  font-size: smaller;
  line-height: 30px;
  color: red;
}
.course-title {
  font-family: verdana;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}
.course-level {
  font-family: verdana;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 15px;
}
.course-description {
  font-family: verdana;
  font-size: 16px;
  width: 280px;
  margin-bottom: 20px;
}
.get-started {
  font-family: verdana;
  background-color: green;
  border-style: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.apple-title {
  font-family: arial;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin-bottom: 15px;
}
.apple-des {
  font-family: arial;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
.apple-learn-more {
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 113, 133);
  cursor: pointer;
}
.apple-learn-more:hover {
  text-decoration: underline;
}
.new {
  font-family: arial;
  font-weight: bold;
  font-size: small;
  color: rgb(228, 148, 0);
  margin-bottom: 10px;
  text-align: center;
}
.m-name {
  font-family: arial;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.m-pro {
  font-family: arial;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px;
  text-align: center;
}
.m-price {
  font-family: arial;
  font-size: medium;
  margin-bottom: 10px;
  text-align: center;
}
.buy {
  font-family: arial;
  background-color: rgb(20, 129, 231);
  border-style: none;
  font-weight: bolder;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.center {
  text-align: center;
  margin-top: 0;
}
.value {
  font-family: arial;
  font-size: xx-large;
  margin-bottom: 5px;
}
.currency {
  font-family: arial;
  font-size: medium;
  font-weight: normal;
  color: gray;
}
.change {
  font-family: arial;
  font-size: medium;
  color: green;
  margin-bottom: 8px;
}
.after-hour {
  font-family: arial;
  font-size: medium;
  color: gray;
}
.change-hour {
  font-family: arial;
  font-size: medium;
  color: red;
}
.web {
  font-family: arial;
  font-size: medium;
  margin-bottom: 5px;
  font-weight: bold;
}
.address {
  font-family: arial;
  font-size: medium;
  color: gray;
  font-weight: normal;
}
.des {
  font-family: arial;
  font-size: medium;
  margin-bottom: 15px;
  width: 500px;
}
.des2 {
  font-family: arial;
  font-size: medium;
  width: 500px;
}
.acc {
  color: rgb(22, 162, 218);
}
