.a,
.b,
.c {
  margin-bottom: 40px;
}
.div1 {
  background-color: lightblue;
}
.div2 {
  background-color: lightpink;
}
.a {
  display: grid;
  grid-template-columns: 200px 75px;
}
.b {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}
.c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.p-name {
  font-size: large;
  font-weight: bold;
  padding-left: 10px;
}
.add {
  margin-left: 10px;
  width: 120px;
  height: 40px;
  color: white;
  background-color: #317dee;
  border-style: none;
  border-radius: 5px;
  font-size: medium;
}
.g {
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}
.friend-pic {
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.p-mutual-friends {
  color: rgb(96, 96, 96);
}
.p-name-row {
  margin-bottom: 5px;
}
.mutual-friends-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}
.s-friends-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}
